[Desktop Entry]
Name=Bumblebee Configurator Gui
Name[hu]=Bumblebee Beállítófelület
Comment=Utility for configurating Bumblebee
Comment[hu]=Beállítófelület a Bumblebee-hez
GenericName=Graphic Utility for Bumblebee config
GenericName[hu]=Grafikus eszköz a Bumblebee beállításhoz
Icon=bumblebee-config-gui
Exec=bumblebee-config-gui
X-KDE-SubstituteUID=true
X-KDE-RootOnly=true
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings
X-Ubuntu-Gettext-Domain=bumblebee-config
